@import "../vars";
.miner{
    padding-top: 250px;
    background-image: url("../../images/miner-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    padding-bottom: 212px;
    margin-bottom: 107px;
    &-container{
        position: relative;
        &::before{
            position: absolute;
            content: url("../../images/miner-item.svg");
            right:-15px
        }
    }
    
    &-subtitle{
        @include subtitle;
        color: #FFFFFF;
        margin-bottom: 20px
    }
    &-title{
        @include title;
        color: #FFFFFF;
        margin: 20px 0 ;
    }
    &-txt{
        font-family: 'Hind';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0.02em;
        opacity: 0.7;
        margin-bottom: 41px;
    }
    &-statistics{
        display: grid;
        grid-template-columns: 208px 322px;
        grid-column-gap: 20px;
    }
    
}
.total-miners,.total-hashrate{
    span{
        font-family: 'Rubik';
        font-weight: 500;
        font-size: 48px;
        line-height: 120%;
        letter-spacing: 0.02em;
        cite{
            font-family: 'Hind';
            font-weight: 300;
            font-size: 18px;
            line-height: 150%;
            letter-spacing: 0.02em;
            opacity: 0.7;
            color: #FFFFFF;
        }
    }
}
.download{
    display: grid;
    grid-template-columns: 350px 350px ;
    grid-column-gap: 50px;
    margin-bottom: 26px;
}
.miner-windows,.miner-linux{
    background: #0B060C;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.15);
    border-radius: 38.5px;
    padding: 14px 55px 14px 87px;
    text-decoration: none;
    position: relative;
    font-family: 'Hind';
    &-title{
        display: block;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        
    }
    &-item{
        font-size: 12px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        opacity: 0.7;
    }
}
.miner-windows::before{
    position: absolute;
    content: url("../../images/windows-8.svg");
    left: 27px;
}
.miner-linux::before{
    position: absolute;
    content: url("../../images/linux.svg");
    left: 27px;
}
@media (max-width: 1400px) { 
    .miner-container::before{
        content: "";
    }
   }
   @media (max-width: 768px) { 
    .download{
        display: grid;
        grid-template-columns: 340px;
        grid-row-gap: 50px;

    }
    .miner-statistics{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 50px;

    }
   }